@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #1f1f20;
    font-family: 'Noto Sans', sans-serif;
} 

.token-page a{
    text-decoration: underline;
    text-decoration-color: #D9F99D;
    text-underline-offset: 4px;
}

.token-page a:hover{
    color: #ecfccb;
    text-underline-offset: 2px;
    transition: 0.2s;
}



/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  } */